@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');

:root {
  --theme-color: #508EFF;
  --secondery: #361e51;
  --black: #000000;
  --white-color: #fff;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/Avenir-Black.eot');
  src: url('assets/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Avenir-Black.woff2') format('woff2'),
       url('assets/fonts/Avenir-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* ----- Avenir medium Fonts ----- */
@font-face {
  font-family: 'Avenir-Medium';
  src: url('assets/fonts/Avenir-Medium.eot');
  src: url('assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Avenir-Medium.woff2') format('woff2'),
      url('assets/fonts/Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*
===============================
Global CSS START
===============================
*/
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
img, svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
  transition: 0.3s all ease;
}
a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}
h1,
h2 {
  font-weight: 700;
}
h4,
h5 {
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p:last-of-type {
	margin: 0;
}
/*
==========================
Main Btn Css Start
==========================
*/
.site-btn {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 30px;
  display: inline-block;
  transition: 0.3s all ease;
  border-radius: 30px;
  color: var(--white-color);
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
}
.site-btn:hover {
  color: var(--white-color);
  background-color: var(--theme-color);
}
/*
=========================
Main Btn Css End 
=========================
*/
#page {
  overflow: hidden;
}
/*
============================
Global CSS END
============================
*/

/*
============================
Header Css Start
============================
*/



/*
============================
Header Css End
============================
*/






/*
============================
Footer Css Start
============================
*/



/*
============================
Footer Css End
============================
*/







/*
============================
Responsive Css Start
============================
*/

@media screen and (min-width: 1360px) {
 .container{
    max-width: 1230px;
 }
 }
 /* ----- Laptop device screen ----- */
 @media only screen and (max-width:1199px) {
 
 }
 /* ----- Tablet device screen ----- */
 @media only screen and (max-width:991px) {
 
 }
 /* ----- Mobile device screen ----- */
 @media only screen and (max-width:767px) {
 
 }
 
 /*
 ============================
 Responsive Css End
 ============================
 */